* {
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    margin: 0;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

nav{
    height: 70px;
    display:flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav--logo{
    max-width: 100px;
}

.hero{
    display: flex;
    flex-direction: column;
}

.hero--image{
   max-width: 400px;
   align-self: center;
}

.hero--title{
    margin-bottom: 10px;
}

.hero--text{
    max-width: 360px;
    margin-top: 0px;
}

.hero--title, .hero--text{
    padding-left: 36px;
}


.card{
    display: flex;
    flex-direction: column;
    padding-left: 37px;
    max-width: min-content;
    font-size: 14px;

}

.gray {
    color: #918E9B;
}

.card--image{
    max-width: 176px;
    margin-bottom: 0px;
}



.card--info{
    margin: 0px;
    display: flex;
    align-items: center;
}

.card > p, .card--info > p{
    margin: 0;
}

.card--star{
    max-width: 14px;
    max-height: 14px;
}